In [1]:
import pandas as pd

In [5]:
items = {'alice': pd.Series([40, 100, 500, 45], ['book', 'glasses', 'bike', 'pants']),
           'bob': pd.Series([245, 25, 55], ['bike', 'pants', 'watch'])}
type(items)

dict

In [7]:
carts = pd.DataFrame(items)
carts

         alice    bob
bike     500.0  245.0
book      40.0    NaN
glasses  100.0    NaN
pants     45.0   25.0
watch      NaN   55.0

In [9]:
# if we do not provide lables in the Series then the DataFrame uses indicies
items = {'alice': pd.Series([40, 100, 500, 45]),
           'bob': pd.Series([245, 25, 55])}

df = pd.DataFrame(items)
df

   alice    bob
0     40  245.0
1    100   25.0
2    500   55.0
3     45    NaN

In [10]:
carts.index

Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

In [11]:
carts.values

array([[500., 245.],
       [ 40.,  nan],
       [100.,  nan],
       [ 45.,  25.],
       [ nan,  55.]])

In [12]:
carts.columns

Index(['alice', 'bob'], dtype='object')

In [13]:
carts.shape

(5, 2)

In [14]:
carts.ndim

2

In [26]:
carts.size

10

In [27]:
# Lets create the items again with the lables
items = {'alice': pd.Series([40, 100, 500, 45], ['book', 'glasses', 'bike', 'pants']),
           'bob': pd.Series([245, 25, 55], ['bike', 'pants', 'watch'])}

In [28]:
# load selected columns or rows
# lets load only Bobs cart
df = pd.DataFrame(items, columns=['bob'])
print('Bobs Cart: ')
df

Bobs Cart:

       bob
bike   245
pants   25
watch   55

In [29]:
# lets load only Alices cart
df = pd.DataFrame(items, columns=['alice'])
print('Alice Cart: ')
df

Alice Cart:

         alice
book        40
glasses    100
bike       500
pants       45

In [31]:
# or just the pants and book
df = pd.DataFrame(items, index=['pants', 'book'])
df

       alice   bob
pants     45  25.0
book      40   NaN

In [32]:
# and you can combine the index / column filter like so
df = pd.DataFrame(items, index=['glasses', 'book'], columns=['alice'])
df

         alice
glasses    100
book        40

In [33]:
# creating DataFrame from a dictionary of lists
data = {'Integers': [1,2,3],
        'Floats': [2.4,5.6,8.8]}

df = pd.DataFrame(data)
df

   Integers  Floats
0         1     2.4
1         2     5.6
2         3     8.8

In [35]:
# if you want to label the data then set the index param like so:
df = pd.DataFrame(data, index=['Label 1', 'Label 2', 'Label 3'])
df

         Integers  Floats
Label 1         1     2.4
Label 2         2     5.6
Label 3         3     8.8

In [39]:
stock = [{'blue pens': 10, 'red pens': 28}, {'blue pens': 11, 'red pens': 19, 'green pens': 20}]
df = pd.DataFrame(stock, index=['Sta'])
df

   blue pens  red pens  green pens
0         10        28         NaN
1         11        19        20.0