## Volatility

Volatility literally refers to how "volatile" a stock is, meaning how unpredictably its price might change. A statistical measure of dispersion, such as standard deviation, is commonly used to measure volatility.

In the exercise below, you're given daily prices for two sample stocks. Compute the standard deviations of their log returns, and return the ticker symbol for the stock that is more volatile.

In [78]:
import pandas as pd
import numpy as np

In [79]:
filename='data/prices.csv'
prices = pd.read_csv(filename, parse_dates=['date'])

In [80]:
prices.head()

        price       date ticker
0  104.000000 2016-07-01      A
1  104.878151 2016-07-05      A
2  104.411909 2016-07-06      A
3  104.931957 2016-07-07      A
4  104.421274 2016-07-08      A

### Return the ticker symbol of the most volatile stock from the sample price data

In [81]:
# Calculate the log returns
prices['lret'] = np.log(prices['price']) - np.log(prices['price'].shift(1))
prices.head()

        price       date ticker      lret
0  104.000000 2016-07-01      A       NaN
1  104.878151 2016-07-05      A  0.008408
2  104.411909 2016-07-06      A -0.004455
3  104.931957 2016-07-07      A  0.004968
4  104.421274 2016-07-08      A -0.004879

In [82]:
# Calculate the standard deviation of the log returns
lretByTicker = prices.groupby(['ticker'])['lret'].std()

In [83]:
# Return the max row id (idxmax) from the returned group
mostVolatileStockTicker = lretByTicker.idxmax()

In [84]:
print("Most volatile stock: {}".format(mostVolatileStockTicker))

Most volatile stock: B