In [1]:
import pandas as pd

df = pd.read_csv('../data/homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

### 1. Match the following characteristics of this dataset: 
- total number of actions
- number of unique users
- sizes of the control and experiment groups (i.e., the number of unique users in each group)

In [2]:
# total number of actions
total = df.shape[0]
total

8188

In [3]:
# number of unique users
pd.unique(df['id']).size

6328

In [4]:
# size of control group and experiment group
df.groupby('group')['id'].nunique()

group
control       3332
experiment    2996
Name: id, dtype: int64

### 2. How long was the experiment run for? 
Hint: the records in this dataset are ordered by timestamp in increasing order

In [5]:
from datetime import datetime

# duration of this experiment
strformat = '%Y-%m-%d %H:%M:%S.%f'
t0 = datetime.strptime(df['timestamp'][0], strformat)
t1 = datetime.strptime(df['timestamp'][total-1], strformat)

duration = t1 - t0
print(duration)

115 days, 16:41:40.789831

### 3. What action types are recorded in this dataset?
(i.e., What are the unique values in the action column?)

In [6]:
# action types in this experiment
pd.unique(df['action'])

array(['view', 'click'], dtype=object)

### 4. Why would we use click through rate instead of number of clicks to compare the performances of control and experiment pages?

To avoid using vanity metrics that potentially double count visits and clicks from the same user.

### 5. Define the click through rate (CTR) for this experiment.

Number of unique clicks

### 6. What are the null and alternative hypotheses?
Use $CTR_{old}$ and $CTR_{new}$ in your hypotheses.

$$H_0: $$
$$H_1: $$