In [1]:
import pandas as pd

In [3]:
fruits = pd.Series([10,3,6], ['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     3
bananas     6
dtype: int64

In [4]:
# aritmetic is as easy as
fruits + 2

apples     12
oranges     5
bananas     8
dtype: int64

In [6]:
# notice this is not changed in place as fruits Series in unchanged
fruits

apples     10
oranges     3
bananas     6
dtype: int64

In [7]:
# same for multiple, subtract and divide of course
fruits * 10

apples     100
oranges     30
bananas     60
dtype: int64

In [8]:
# we can also use numpy operations
import numpy as np

In [9]:
np.sqrt(fruits)

apples     3.162278
oranges    1.732051
bananas    2.449490
dtype: float64

In [10]:
np.power(fruits, 2)

apples     100
oranges      9
bananas     36
dtype: int64

In [11]:
# we can perform an operation on a selcted cell by its loc or iloc
fruits['apples'] + 2
fruits

apples     10
oranges     3
bananas     6
dtype: int64

In [13]:
# or even on multiple rows like this
fruits[['apples', 'oranges']] / 2

apples     5.0
oranges    1.5
dtype: float64

In [14]:
# Given a list representing a few planets
planets = ['Earth','Saturn', 'Venus', 'Mars', 'Jupiter']

# Given another list representing the the distance of the selected planets from the Sun
# The distance from the Sun is in units of 10^6 km
distance_from_sun = [149.6, 1433.5, 108.2, 227.9, 778.6]

# Use the `distance_from_sun` as your data, and `planets` as your index.
dist_planets = pd.Series(distance_from_sun, planets)
dist_planets

Earth       149.6
Saturn     1433.5
Venus       108.2
Mars        227.9
Jupiter     778.6
dtype: float64

In [17]:
# Speed of light, c = 18, since light travels 18 x 10^6 km/minute.
c = 18

# Calculate the time (minutes) it takes sunlight to reach each planet. 
# You can do this by dividing each planet's distance from the Sun by the speed of light.
time_light = dist_planets / c
time_light

Earth       8.311111
Saturn     79.638889
Venus       6.011111
Mars       12.661111
Jupiter    43.255556
dtype: float64

In [19]:
# Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.
close_planets = time_light<40
close_planets

Earth       True
Saturn     False
Venus       True
Mars        True
Jupiter    False
dtype: bool